/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* Header */
header {
  display: flex;
  height: 100px;
  line-height: 6px;
  text-align: center;
  justify-content: center;
  
}
header span{
  vertical-align: middle;
}
header nav {
  white-space: nowrap;
  /* padding: 30px 0; */
}

header div {
  vertical-align: middle;
}
/* Containers */
div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}


article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}
article p{
  font-size: 14px;
}

/* Paragraphs and lists */
p {
  line-height: 1.5;
  text-align: left;
}
li{
  text-align: left;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

nav a {
  padding-left: 20px;
}

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}
.group {
  display: flex;
  flex-direction: row;
}
.nav-item {
  flex: 0;
  margin: 10px;
  align-self: center;
}
.article-item{
  gap: 10px;
}
